/* * {
    font: -apple-system-body;
    font-family: -apple-system;
} */
/* style={{ fontFamily: 'FlowerIslandFont' }} */
.home-container, .invitation-title {
    text-align: center;
    font-family: FlowerIslandFont;
    color: #c69c6d;
}
  
img {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}
  
.date-container {
    text-align: center;
    font-family: FlowerIslandFont;
    color: #333;
    border-bottom: 0.5px solid #cbcbcb;
}
.invitation-words {
    text-align: center;
    font-family: FlowerIslandFont;
    color: #333;
    line-height: 2;
}

.family-contacts{
    text-align: center;
    font-family: FlowerIslandFont;
    color: #333;
    line-height: 2;
}

.phone-icon {
    width: 20px;
    height: 20px;
}

.transportation-words{
    text-align: left; 
    margin-left: 10%;
    margin-right: 5%;
    color: #333;
}

/* .top-container {
    display: flex;
    align-items: center;
  } */
  
  .show-text {
    margin-right: 10px;
  }

/* .toggle-box {
    width: 0;
    height: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid  #666666;
    cursor: pointer;
    align-content: right;
    margin-left: 90%;
  }
  
  .toggle-box.toggled {
    width: 0px;
    height: 0px;
    border-top: 12px solid #666666;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    align-content: right;
    margin-left: 90%;

  } */

.toggle-image{
    width: 15px;
    height: 15px;
}
  .show-text {
  margin-right: 60px;
}

.account-division {
    margin-left: 10%;
    align-items: left; 
    
}
.content-division{
    /* display: flex; */ 
    align-items: left; 
    color: #333;
}

.top-container{
    display: flex;
    align-items: center; 
}

.tt{
    width: 15px;
    height: 15px;
}

.share{
    width: 55px;
    height: 55px;
}
/* .btn {
    position: relative;
    width: calc(560/640*100vw);
    height: calc(59/640*100vw);
    line-height: calc(59/640*100vw);
    color: #6a6a6a;
    font-size: calc(26/640*100vw);
} */

/* .triangle1 {
    width: 0px;
    height: 0px;
    border-top: 360px solid #c69c6d;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
  }
            <div class="triangle1"></div>
            <div class="triangle2"></div>
.triangle2 {
    width: 0px;
    height: 0px;
    border-bottom: 360px solid #c69c6d;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
  } */